@charset "utf-8";
.navbar-default {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  height: 60px;
}
.navbar-default .container .navbar-header button {
  margin-top: 13px;
}
.navbar-default .navbar-brand {
  display: block;
  height: 60px;
  padding-top: 18px;
  padding-bottom: 18px;
}
.navbar-default .navbar-brand img {
  height: 24px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777;
}
.navbar-default .navbar-nav > li {
  padding-top: 18px;
  padding-bottom: 18px;
}
.navbar-default .navbar-nav > li .getstarted {
  background-color: #4eb3ea;
  color: #f8f8f8;
}
.navbar-default .navbar-nav > li:last-child a:hover {
  background-color: #4eb3ea;
  border: 2px solid transparent;
  color: #f8f8f8;
}
.navbar-default .navbar-nav > li > a {
  color: #1c1c1c;
  line-height: 20px;
  border: 2px solid transparent;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #1c1c1c;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.5);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-default {
    background-color: rgba(255, 255, 255, 0.95);
  }
  .navbar-default .navbar-nav {
    margin: 0 -15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navbar-default .navbar-nav > li {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 15px 0;
  }
  .navbar-default .navbar-nav > li a {
    text-align: center;
    color: #1c1c1c;
  }
  .navbar-default .navbar-nav > li a:hover {
    color: #1c1c1c;
    border: 2px solid transparent;
  }
  .navbar-default .navbar-nav > li:last-child {
    background-color: #4eb3ea;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #777;
}
.navbar-default .navbar-link:hover {
  color: #333;
}
.navbar-default .btn-link {
  color: #777;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}
@media (min-width: 768px) and (max-width: 992px) {
  .navbar-default .navbar-nav > li > a {
    padding: 0 8px;
    font-size: 14px;
  }
}
.banner {
  position: relative;
  margin-top: 60px;
  height: 7rem;
  min-height: 450px;
  width: 100%;
}
.banner .swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.banner .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.banner .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  background-position: center top;
  background-size: cover;
}
.banner .swiper-container .swiper-wrapper .swiper-slide a {
  width: 100%;
}
.banner .swiper-container .swiper-wrapper .slide1 {
  background-image: url(../images/hero-1st@2x.jpg);
}
.banner .swiper-container .swiper-wrapper .slide2 {
  background-image: url(../images/hero-2nd@2x.jpg);
}
.banner .swiper-container .swiper-wrapper .slide3 {
  background-image: url(../images/hero-3rd@2x.jpg);
}
.banner .swiper-container .swiper-pagination {
  width: 54px;
  bottom: 5%;
  left: initial;
  right: 7%;
}
.banner .swiper-container .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: initial;
}
.banner .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background: #007aff;
  opacity: 1;
}
.banner .info {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  left: 0;
  z-index: 10;
  width: 80%;
  margin-left: 10%;
}
.banner .info .title {
  font-size: 45px;
  color: #fff;
  margin-bottom: 15px;
}
.banner .info form input {
  padding: 15px 10px;
  font-size: 16px;
}
.banner .info form input.text {
  width: 300px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  float: left;
}
.banner .info form input.button {
  background-color: #4eb3ea;
  color: #fff;
  float: left;
}
.banner .info form input.video {
  padding: 12px 10px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  margin-left: 15PX;
}
@media (max-width: 991px) {
  .banner .info .title {
    font-size: 45px;
  }
  .banner .info form input {
    padding: 15px 10px;
    font-size: 16px;
  }
  .banner .info form input.text {
    width: 300px;
  }
  .banner .info form input.video {
    padding: 12 / px 10px;
    font-size: 18 / px;
    margin-left: 15px;
  }
}
@media (max-width: 768px) {
  .banner .info .title {
    font-size: 35px;
    text-align: center;
  }
  .banner .info form {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 80px;
  }
  .banner .info form input.video {
    width: 100%;
    margin-left: initial;
  }
}
.sim-info {
  padding-top: 50px;
}
.sim-info .info-1p h3 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
}
.sim-info .info-1p div {
  text-align: center;
  margin-bottom: 40px;
}
.sim-info .info-1p div .features-icon {
  background-image: url("../images/feature-icon@2x.png");
  background-size: 352px 44px;
  height: 44px;
  width: 44px;
  margin: 10px auto;
}
.sim-info .info-1p div h4 {
  margin-top: 20px;
}
.sim-info .info-1p div .funIntro {
  color: #4eb3ea;
  background-color: #fff;
  border: 1px solid #4eb3ea;
  border-radius: 2px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 30px 0;
}
.sim-info .info-1p div .funIntro:hover {
  background-color: #4eb3ea;
  color: #fff;
}
.sim-info .info-2p {
  background-color: #f2f2f2;
  padding: 0.6rem 0 1rem;
}
.sim-info .info-2p .container h3 {
  font-size: 44px;
  line-height: 44px;
}
.sim-info .info-2p .container img {
  width: 100%;
  margin-top: 0.6rem;
}
@media (min-width: 768px) and (max-width: 992px) {
  .sim-info .info-1p .funIntro {
    width: 50%;
  }
}
.info-3p {
  padding: 70px 0 100px;
}
.info-3p .container {
  text-align: center;
  padding: 0 0;
}
.info-3p .container h3 {
  font-size: 35px;
  margin-bottom: 50px;
}
.info-3p .container div {
  padding: 0 10px;
  margin: 3px 0 20px;
}
.info-3p .container div a {
  position: relative;
  display: block;
  width: 100%;
  height: 150px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
}
.info-3p .container div a .caseCon {
  width: 100%;
  height: 30px;
  background-color: #fff;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.info-3p .container div a .caseCon h4 {
  margin: 8px 0 0 0;
  font-size: 14px;
  color: #fff;
}
.info-3p .container div a .caseConLast {
  height: 100%;
}
.info-3p .container div a .caseConLast h4 {
  line-height: 150px;
  margin: 0;
  font-size: 40px;
}
.info-3p .container div a:hover {
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  .sim-info {
    padding-top: 0.5rem;
  }
  .sim-info .info-1p h3 {
    font-size: 25px;
  }
  .sim-info .info-2p {
    padding: 28px 0;
  }
  .sim-info .info-2p .container {
    text-align: center;
  }
  .sim-info .info-2p .container h3 {
    font-size: 25px;
  }
  .sim-info .info-2p .container img {
    width: 80%;
  }
  .sim-info .info-3p {
    padding-bottom: 50px;
  }
  .sim-info .info-3p .container h3 {
    font-size: 25px;
  }
  .copyright p {
    text-align: center;
  }
}
.info-4p {
  height: 800px;
  background-color: #f7f7f7;
  padding-top: 119px;
}
.info-4p .container {
  height: 562px;
}
.info-4p .container video {
  width: 100%;
  height: 100%;
}
@media (max-width: 992px) {
  .info-4p {
    height: initial;
    background-color: initial;
    padding-top: initial;
  }
  .info-4p .container {
    height: initial;
    padding: 0 0;
  }
  .info-4p .container video {
    width: 100%;
  }
}
.footer {
  height: 400px;
  background-color: #333;
  overflow: hidden;
  position: relative;
}
.footer .container {
  width: 90%;
  margin-left: 5%;
  margin-top: 40px;
}
.footer .container div dl dt {
  color: #d9d9d9;
  font-size: 20px;
  margin-bottom: 10px;
}
.footer .container div dl dd {
  margin-bottom: 5px;
}
.footer .container div dl dd a {
  color: #777;
  font-size: 16px;
}
.footer .container div dl dd a:hover {
  color: #ededed;
  text-decoration: none;
}
.footer .copyright {
  width: 100%;
  background-color: #000;
  position: absolute;
  bottom: 0;
  color: #a6a6a6;
  text-align: center;
  font-size: 15px;
  padding: 10px 0;
}
.footer .copyright p {
  margin-bottom: 0;
}
@media (min-width: 320px) {
  html {
    font-size: 33.26403326px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 37.42203742px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 38.98128898px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 39.91683992px;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 41.58004158px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 43.03534304px;
  }
}
@media (min-width: 424px) {
  html {
    font-size: 44.07484407px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 49.8960499px;
  }
}
@media (min-width: 540px) {
  html {
    font-size: 56.13305613px;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 66.52806653px;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 74.84407484px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 77.96257796px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 79.83367983px;
  }
}
@media (min-width: 785px) {
  html {
    font-size: 81.6008316px;
  }
}
@media (min-width: 800px) {
  html {
    font-size: 83.16008316px;
  }
}
@media (min-width: 815px) {
  html {
    font-size: 84.71933472px;
  }
}
@media (min-width: 835px) {
  html {
    font-size: 86.7983368px;
  }
}
@media (min-width: 855px) {
  html {
    font-size: 88.87733888px;
  }
}
@media (min-width: 875px) {
  html {
    font-size: 90.95634096px;
  }
}
@media (min-width: 895px) {
  html {
    font-size: 93.03534304px;
  }
}
@media (min-width: 915px) {
  html {
    font-size: 95.11434511px;
  }
}
@media (min-width: 935px) {
  html {
    font-size: 97.19334719px;
  }
}
@media (min-width: 952px) {
  html {
    font-size: 98.96049896px;
  }
}
@media (min-width: 972px) {
  html {
    font-size: 101.03950104px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 103.11850312px;
  }
}
