@charset "utf-8";

//导航部分

.navbar-default {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  height: 60px;
  .container{
      .navbar-header{
        button{
          margin-top: 13px;
        }
      }
  }
}
.navbar-default .navbar-brand {
  display: block;
  height: 60px;
  padding-top: 18px;
  padding-bottom: 18px;
  img{
    height: 24px;
  }
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777;
}
.navbar-default .navbar-nav > li{
  padding-top: 18px;
  padding-bottom: 18px;
  .getstarted{
    background-color: #4eb3ea;
    color: #f8f8f8;
  }
  &:last-child a:hover{
    background-color: #4eb3ea;
    border: 2px solid transparent;
    color: #f8f8f8;
  }
}
.navbar-default .navbar-nav > li > a {
  color: #1c1c1c;
  line-height: 20px;
  border: 2px solid transparent;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #1c1c1c;
  background-color: transparent;
  border: 2px solid rgba(0,0,0,0.5);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-default{
    background-color: rgba(255, 255, 255, 0.95);
  }
  .navbar-default .navbar-nav{
    margin: 0 -15px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .navbar-default .navbar-nav > li{
    background-color: rgba(255, 255, 255, 0.95);
    padding: 15px 0;
    a{
      text-align: center;
      color: #1c1c1c;
    }
    a:hover{
      color: #1c1c1c;
      border: 2px solid transparent;
    }
  }
  .navbar-default .navbar-nav > li:last-child{
    background-color: #4eb3ea;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #777;
}
.navbar-default .navbar-link:hover {
  color: #333;
}
.navbar-default .btn-link {
  color: #777;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar-default .navbar-nav > li > a {
    padding: 0 8px;
    font-size: 14px;
  }
}
// banner开始

.banner {
  position: relative;
  margin-top: 60px;
  height: 700/@bs;
  min-height: 450px;
  width: 100%;
  .swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
    .swiper-wrapper {
      width: 100%;
      height: 100%;
      .swiper-slide {
        width: 100%;
        height: 100%;
        background-position: center top;
        background-size: cover;
        a {
          width: 100%;
        }
      }
      .slide1{
        background-image: url(../images/hero-1st@2x.jpg);
      }
      .slide2{
        background-image: url(../images/hero-2nd@2x.jpg);
      }
      .slide3{
        background-image: url(../images/hero-3rd@2x.jpg);
      }
    }
    .swiper-pagination {
      width: 54px;
      bottom: 5%;
      left: initial;
      right: 7%;
      .swiper-pagination-bullet {
        background: #fff;
        opacity: initial;
      }
      .swiper-pagination-bullet-active {
        background: #007aff;
        opacity: 1;
      }
    }
  }
  .info {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    left: 0;
    z-index: 10;
    width: 80%;
    margin-left: 10%;
    .title {
      font-size: 45px;
      color: #fff;
      margin-bottom: 15px;
    }
    form {
      input {
        padding: 15px 10px;
        font-size: 16px;
        &.text {
          width: 300px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          float: left;
        }
        &.button {
          background-color: #4eb3ea;
          color: #fff;
          float: left;
        }
        &.video {
          padding: 12px 10px;
          background-color: transparent;
          border: 2px solid #fff;
          border-radius: 5px;
          color: #fff;
          font-size: 18px;
          margin-left: 15PX;
        }
      }
    }
    @media (max-width: 991px) {
      .title {
        font-size: 45px;
      }

      form {
        input {
          padding: 15px 10px;
          font-size: 16px;
          &.text {
            width: 300px;
          }
          &.video {
            padding: 12/px 10px;
            font-size: 18/px;
            margin-left: 15px;
          }
        }
      }
    }
    @media (max-width: 768px ) {
      .title{
        font-size: 35px;
        text-align: center;
      }
      form {
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 80px;
        input {
          &.video {
            width: 100%;
            margin-left: initial;
          }
        }
      }
    }
  }

}

// 信息部分

.sim-info {
  padding-top: 50px;
  .info-1p {
    h3 {
      text-align: center;
      font-size: 35px;
      margin-bottom: 50px;
    }
    div {
      text-align: center;
      margin-bottom: 40px;
      .features-icon {
        background-image: url("../images/feature-icon@2x.png");
        background-size: 352px 44px;
        height: 44px;
        width: 44px;
        margin: 10px auto;
      }
      h4 {
        margin-top: 20px;
      }
      .funIntro {
        color: #4eb3ea;
        background-color: #fff;
        border: 1px solid #4eb3ea;
        border-radius: 2px;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 500;
        margin: 30px 0;
      }
      .funIntro:hover {
        background-color: #4eb3ea;
        color: #fff;
      }
    }
  }
  .info-2p {
    background-color: #f2f2f2;
    padding: 60/@bs 0 100/@bs;
    .container {
      h3 {
        font-size: 44px;
        line-height: 44px;
      }
      img {
        width: 100%;
        margin-top: 60/@bs;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .sim-info {
    .info-1p {
      .funIntro {
        width: 50%;
      }
    }
  }
}

// info-3p部分

.info-3p {
  padding: 70px 0 100px;
  .container {
    text-align: center;
    padding: 0 0;
    h3 {
      font-size: 35px;
      margin-bottom: 50px;
    }
    div {
      padding: 0 10px;
      margin: 3px 0 20px;
      a {
        position: relative;
        display: block;
        width: 100%;
        height: 150px;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        border-radius: 3px;
        transition: all 250ms ease-in-out;
        .caseCon {
          width: 100%;
          height: 30px;
          background-color: #fff;
          overflow: hidden;
          position: absolute;
          bottom: 0;
          margin: 0;
          //padding: 8px 0px;
          background-color: rgba(0, 0, 0, 0.6);
          h4 {
            margin: 8px 0 0 0;
            font-size: 14px;
            color: #fff;
          }
        }
        .caseConLast{
          height: 100%;
          h4{
            line-height: 150px;
            margin: 0;
            font-size: 40px;
          }
        }
      }
      a:hover{
        box-shadow: 0px 4px 5px rgba(0,0,0,0.5);
      }
    }
  }
}

@media (max-width: 768px) {
  .sim-info {
    padding-top: 50/@bs;
    .info-1p {
      h3 {
        font-size: 25px;
      }
    }
    .info-2p {
      padding: 28px 0;
      .container {
        text-align: center;
        h3 {
          font-size: 25px;
        }
        img {
          width: 80%;
        }
      }
    }
    .info-3p{
      padding-bottom: 50px;
      .container{
        h3 {
          font-size: 25px;
        }
      }
    }
  }

  .copyright{
    p{
      text-align: center;
    }
  }
}

.info-4p{
  height: 800px;
  background-color: #f7f7f7;
  padding-top: 119px;
  .container{
    height: 562px;
    video{
      width: 100%;
      height: 100%;
    }
  }
}
@media (max-width: 992px) {
  .info-4p{
    height: initial;
    background-color: initial;
    padding-top: initial;
    .container{
      height: initial;
      padding: 0 0;
      video{
        width: 100%;
      }
    }
  }
}

// footer部分

.footer{
  height: 400px;
  background-color: #333;
  overflow: hidden;
  position: relative;
  .container{
    width: 90%;
    margin-left: 5%;
    margin-top: 40px;
    div{
      dl{
        dt{
          color: #d9d9d9;
          font-size: 20px;
          margin-bottom: 10px;
        }
        dd{
          margin-bottom: 5px;
          a{
            color: #777;
            font-size: 16px;
          }
          a:hover{
            color: #ededed;
            text-decoration: none;
          }
        }
      }
    }
  }
  .copyright{
    width: 100%;
    background-color: #000;
    position: absolute;
    bottom: 0;
    color: #a6a6a6;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
    p{
      margin-bottom: 0;

    }
  }
}



